extends ../base.pug

block variables
    - var template = 'quoter'

block content
  .quoter
    .quoter__wrapper
      a.quoter__close__link(href="/")
        svg.quoter__close__icon(xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="none")
          path(d="M2 27L27 2" stroke="black" stroke-width="4")
          path(d="M27 27L2 2" stroke="black" stroke-width="4")

      form.quoter__popup__form(action="/formPost" method="post")
        each section in quoter.data.body
          if section.slice_type == 'servicio'
            .quoter__form__services
              label.quoter__form__services__title=section.primary.title
              .quoter__form__services__row
                each button in section.items
                  .quoter__form__services__button.quoter__button
                    input.quoter__form__services__input(type='checkbox' name=button.name value=button.button_placeholder)
                    p.quoter__form__services__label=button.button_placeholder

          if section.slice_type == 'extras'
            .quoter__form__extras
              label.quoter__form__extras__title=section.primary.title
              .quoter__form__extras__row
                each button in section.items
                  .quoter__form__extras__button.quoter__button
                    input.quoter__form__extras__input(type='checkbox' name=button.name value=button.button_placeholder)
                    p.quoter__form__extras__label=button.button_placeholder

          if section.slice_type == 'terreno'
            .quoter__form__terreno
              label.quoter__form__terreno__title=section.primary.title
              .quoter__form__terreno__row
                each button in section.items
                  .quoter__form__terreno__button.quoter__button
                    input.quoter__form__terreno__input(type='checkbox' name=button.name value=button.button_placeholder)
                    p.quoter__form__terreno__label=button.button_placeholder

          if section.slice_type == 'dimensiones'
            .quoter__form__dimensiones
              .quoter__form__dimensiones__top
                label.quoter__form__dimensiones__title=section.primary.title
                svg.quoter__form__dimensiones__alert(xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none")
                  path(d="M12.2605 21.8358C17.7833 21.8358 22.2605 17.3586 22.2605 11.8358C22.2605 6.31291 17.7833 1.83575 12.2605 1.83575C6.73765 1.83575 2.2605 6.31291 2.2605 11.8358C2.2605 17.3586 6.73765 21.8358 12.2605 21.8358Z" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                  path(d="M12.2605 7.83575V11.8358" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                  path(d="M12.2605 15.8358H12.2705" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              .quoter__form__dimensiones__bottom
                figure.quoter__form__dimensiones__media
                  img.quoter__form__dimensiones__mesh(alt=section.primary.mesh.alt data-src=section.primary.mesh.url)
                .quoter__form__dimensiones__row
                  each form in section.items
                    .quoter__form__dimensiones__form
                      label.quoter__form__dimensiones__label=form.form_title
                      input.quoter__form__dimensiones__input.quoter__form(type='form' name=form.name placeholder=form.form_placeholder)

          if section.slice_type == 'demo_forms'
            .quoter__form__demo-forms
              .quoter__form__demo-forms__row
                each form in section.items
                  .quoter__form__demo-forms__form
                    label.quoter__form__demo-forms__label=form.form_title
                    input.quoter__form__demo-forms__input.quoter__form(type='form' name=form.name placeholder=form.form_placeholder)

        .quoter__form__button__wrapper
          input.quoter__form__submit.button__primary(type='submit' value='Enviar Cotización')
