extends ../base.pug

block variables
    - var template = 'thanks'

block content
  .quoter-end
    .quoter-end__wrapper
      .quoter-end__gallery
        each media in quoter_end.data.gallery
          figure.quoter-end__gallery__media
            img.quoter-end__gallery__media__image(alt=media.image.alt data-src=media.image.url)

      .quoter-end__information
        h1.quoter-end__information__title=quoter_end.data.title
        p.quoter-end__information__text=quoter_end.data.copy
        .quoter-end__information__finish
          a.quoter-end__information__button.button__primary.link(href="/") Finalizar
          .quoter-end__information__finish__alert
            svg.quoter-end__information__finish__alert-circle(xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none")
              path(d="M12.2605 21.8358C17.7833 21.8358 22.2605 17.3586 22.2605 11.8358C22.2605 6.31291 17.7833 1.83575 12.2605 1.83575C6.73765 1.83575 2.2605 6.31291 2.2605 11.8358C2.2605 17.3586 6.73765 21.8358 12.2605 21.8358Z" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path(d="M12.2605 7.83575V11.8358" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path(d="M12.2605 15.8358H12.2705" stroke="#808080" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
            p.quoter-end__information__finish__alert__text=quoter_end.data.alert

